#Buscando artigos do wikipedia
Usando scikit-learn e sframe (opensource)

In [1]:
import sframe as sf
import sklearn
import numpy as np

##Carregando dados

In [2]:
people = sf.SFrame('people_wiki.gl/')

2016-04-11 13:50:00,191 [INFO] sframe.cython.cy_server, 172: SFrame v1.8.5 started. Logging C:\Users\PIETER~1.VOL\AppData\Local\Temp\sframe_server_1460393399.log.0

In [3]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [4]:
len(people)

59071

##Explorando os dados
###Presidente Obama

In [5]:
obama = people[people['name'] == 'Barack Obama']

In [6]:
obama

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use len(sf) to force materialization.

In [7]:
obama['text']

dtype: str
Rows: ?
['barack hussein obama ii brk husen bm born august 4 1961 is the 44th and current president of the united states and the first african american to hold the office born in honolulu hawaii obama is a graduate of columbia university and harvard law school where he served as president of the harvard law review he was a community organizer in chicago before earning his law degree he worked as a civil rights attorney and taught constitutional law at the university of chicago law school from 1992 to 2004 he served three terms representing the 13th district in the illinois senate from 1997 to 2004 running unsuccessfully for the united states house of representatives in 2000in 2004 obama received national attention during his campaign to represent illinois in the united states senate with his victory in the march democratic party primary his keynote address at the democratic national convention in july and his election to the senate in november he began his presidential campaign in 2007 and after a close primary campaign against hillary rodham clinton in 2008 he won sufficient delegates in the democratic party primaries to receive the presidential nomination he then defeated republican nominee john mccain in the general election and was inaugurated as president on january 20 2009 nine months after his election obama was named the 2009 nobel peace prize laureateduring his first two years in office obama signed into law economic stimulus legislation in response to the great recession in the form of the american recovery and reinvestment act of 2009 and the tax relief unemployment insurance reauthorization and job creation act of 2010 other major domestic initiatives in his first term included the patient protection and affordable care act often referred to as obamacare the doddfrank wall street reform and consumer protection act and the dont ask dont tell repeal act of 2010 in foreign policy obama ended us military involvement in the iraq war increased us troop levels in afghanistan signed the new start arms control treaty with russia ordered us military involvement in libya and ordered the military operation that resulted in the death of osama bin laden in january 2011 the republicans regained control of the house of representatives as the democratic party lost a total of 63 seats and after a lengthy debate over federal spending and whether or not to raise the nations debt limit obama signed the budget control act of 2011 and the american taxpayer relief act of 2012obama was reelected president in november 2012 defeating republican nominee mitt romney and was sworn in for a second term on january 20 2013 during his second term obama has promoted domestic policies related to gun control in response to the sandy hook elementary school shooting and has called for full equality for lgbt americans while his administration has filed briefs which urged the supreme court to strike down the defense of marriage act of 1996 and californias proposition 8 as unconstitutional in foreign policy obama ordered us military involvement in iraq in response to gains made by the islamic state in iraq after the 2011 withdrawal from iraq continued the process of ending us combat operations in afghanistan and has sought to normalize us relations with cuba', ... ]

###Ator George Clooney

In [8]:
clooney = people[people['name'] == 'George Clooney']
clooney['text']

dtype: str
Rows: ?
['george timothy clooney born may 6 1961 is an american actor writer producer director and activist he has received three golden globe awards for his work as an actor and two academy awards one for acting and the other for producingclooney made his acting debut on television in 1978 and later gained wide recognition in his role as dr doug ross on the longrunning medical drama er from 1994 to 1999 for which he received two emmy award nominations while working on er he began attracting a variety of leading roles in films including the superhero film batman robin 1997 and the crime comedy out of sight 1998 in which he first worked with a director who would become a longtime collaborator steven soderbergh in 1999 clooney took the lead role in three kings a wellreceived war satire set during the gulf warin 2001 clooneys fame widened with the release of his biggest commercial success the heist comedy oceans eleven the first of the film trilogy a remake of the 1960 film with frank sinatra as danny ocean he made his directorial debut a year later with the biographical thriller confessions of a dangerous mind and has since directed the drama good night and good luck 2005 the sports comedy leatherheads 2008 the political drama the ides of march 2011 and the comedydrama war film the monuments men 2014he won an academy award for best supporting actor for the middle east thriller syriana 2005 and subsequently earned best actor nominations for the legal thriller michael clayton 2007 the comedydrama up in the air 2009 and the drama the descendants 2011 in 2013 he received the academy award for best picture for producing the political thriller argo alongside ben affleck and grant heslov he is the only person ever to be nominated for academy awards in six categoriesclooney is sometimes described as one of the most handsome men in the world in 2005 tv guide ranked clooney no 1 on its 50 sexiest stars of all time list in 2009 he was included in times annual time 100 as one of the most influential people in the world clooney is also noted for his political activism and has served as one of the united nations messengers of peace since january 31 2008 his humanitarian work includes his advocacy of finding a resolution for the darfur conflict raising funds for the 2010 haiti earthquake 2004 tsunami and 911 victims and creating documentaries such as sand and sorrow to raise awareness about international crises he is also a member of the council on foreign relations', ... ]

###Contando palavras
Desenvolvi um método para a contagem das palavras, similar ao graphlab, mas para o modelo esse método não será utilizado. No lugar, usaremos CountVectorizer do scikit-learn.

In [9]:
def count_words(data) :
    from collections import Counter
    return data.apply(lambda r: dict(Counter(r.split())))

In [10]:
obama['word_count'] = count_words(obama['text'])
print obama['word_count']

[{'operations': 1L, 'represent': 1L, 'peace': 1L, 'office': 2L, 'unemployment': 1L, 'doddfrank': 1L, 'over': 1L, 'unconstitutional': 1L, 'domestic': 2L, 'major': 1L, 'ending': 1L, 'ended': 1L, 'proposition': 1L, 'seats': 1L, 'graduate': 1L, 'debate': 1L, 'before': 1L, 'death': 1L, '20': 2L, 'taxpayer': 1L, 'with': 3L, 'obamacare': 1L, 'civil': 1L, '2009': 3L, 'barack': 1L, 'to': 14L, '4': 1L, 'policy': 2L, '8': 1L, 'has': 4L, '2011': 3L, '2010': 2L, '2013': 1L, '2012': 1L, 'bin': 1L, 'then': 1L, '13th': 1L, 'his': 11L, 'march': 1L, 'gains': 1L, 'cuba': 1L, 'school': 3L, 'primary': 2L, 'made': 1L, 'not': 1L, 'during': 2L, 'years': 1L, 'continued': 1L, 'presidential': 2L, 'husen': 1L, 'down': 1L, 'californias': 1L, 'equality': 1L, 'prize': 1L, 'lost': 1L, 'called': 1L, 'stimulus': 1L, 'january': 3L, 'university': 2L, '1996': 1L, 'july': 1L, 'hawaii': 1L, 'us': 6L, 'troop': 1L, 'withdrawal': 1L, 'involvement': 3L, 'where': 1L, 'referred': 1L, 'unsuccessfully': 1L, 'republican': 2L, 'on': 2L, 'often': 1L, 'senate': 3L, 'regained': 1L, 'national': 2L, 'creation': 1L, 'related': 1L, 'gun': 1L, 'born': 2L, 'second': 2L, 'street': 1L, 'election': 3L, 'close': 1L, 'operation': 1L, 'nations': 1L, 'insurance': 1L, 'sandy': 1L, 'afghanistan': 2L, 'initiatives': 1L, 'for': 4L, 'chicago': 2L, 'federal': 1L, 'review': 1L, 'representatives': 2L, 'repeal': 1L, 'current': 1L, 'state': 1L, 'won': 1L, 'americans': 1L, 'new': 1L, 'victory': 1L, 'affordable': 1L, 'reauthorization': 1L, 'keynote': 1L, 'full': 1L, 'terms': 1L, 'august': 1L, 'degree': 1L, '44th': 1L, 'bm': 1L, 'mitt': 1L, 'attention': 1L, 'delegates': 1L, 'lgbt': 1L, 'job': 1L, 'protection': 2L, 'included': 1L, 'term': 3L, 'address': 1L, 'ask': 1L, 'november': 2L, 'iraq': 4L, 'by': 1L, 'care': 1L, 'rodham': 1L, 'great': 1L, 'libya': 1L, 'receive': 1L, 'of': 18L, 'months': 1L, 'against': 1L, 'foreign': 2L, 'american': 3L, 'harvard': 2L, 'economic': 1L, 'act': 8L, 'military': 4L, 'hussein': 1L, 'or': 1L, 'first': 3L, 'and': 21L, 'named': 1L, 'clinton': 1L, 'dont': 2L, 'campaign': 3L, 'wall': 1L, 'reinvestment': 1L, 'into': 1L, 'attorney': 1L, 'community': 1L, 'mccain': 1L, 'osama': 1L, 'hook': 1L, '63': 1L, 'brk': 1L, 'elementary': 1L, 'total': 1L, 'earning': 1L, 'debt': 1L, 'from': 3L, 'raise': 1L, 'district': 1L, 'spending': 1L, 'legislation': 1L, 'three': 1L, 'relations': 1L, 'nobel': 1L, 'start': 1L, 'house': 2L, 'strike': 1L, 'served': 2L, 'john': 1L, 'was': 5L, 'tell': 1L, 'form': 1L, 'received': 1L, 'romney': 1L, 'sufficient': 1L, 'republicans': 1L, 'convention': 1L, 'resulted': 1L, 'hillary': 1L, 'taught': 1L, 'arms': 1L, 'honolulu': 1L, 'filed': 1L, 'worked': 1L, 'hold': 1L, 'inaugurated': 1L, 'he': 7L, 'states': 3L, '1992': 1L, '1997': 1L, 'rights': 1L, 'whether': 1L, 'reelected': 1L, 'representing': 1L, 'budget': 1L, 'signed': 3L, 'war': 1L, 'recession': 1L, 'while': 1L, 'defense': 1L, 'nine': 1L, 'policies': 1L, 'promoted': 1L, 'russia': 1L, 'at': 2L, 'control': 4L, 'supreme': 1L, 'ordered': 3L, 'nominee': 2L, 'process': 1L, '2000in': 1L, 'is': 2L, 'tax': 1L, 'briefs': 1L, 'defeated': 1L, 'general': 1L, 'ii': 1L, 'as': 6L, 'urged': 1L, 'in': 30L, 'sought': 1L, 'limit': 1L, 'organizer': 1L, 'shooting': 1L, '2012obama': 1L, 'increased': 1L, 'normalize': 1L, 'lengthy': 1L, 'united': 3L, 'court': 1L, 'recovery': 1L, 'laden': 1L, 'began': 1L, 'that': 1L, 'administration': 1L, '1961': 1L, 'illinois': 2L, 'other': 1L, 'patient': 1L, 'which': 1L, 'party': 3L, 'primaries': 1L, 'sworn': 1L, '2007': 1L, 'obama': 9L, 'columbia': 1L, 'combat': 1L, 'after': 4L, 'islamic': 1L, 'running': 1L, 'levels': 1L, 'two': 1L, 'marriage': 1L, 'president': 4L, 'law': 6L, 'nomination': 1L, 'response': 3L, 'a': 7L, '2008': 1L, 'reform': 1L, 'constitutional': 1L, 'defeating': 1L, 'treaty': 1L, 'relief': 2L, '2004': 3L, 'african': 1L, 'the': 40L, 'democratic': 4L, 'consumer': 1L, 'laureateduring': 1L}]

###Ordenando a contagem de palavras
####Tornando o dicionário em tabela

In [11]:
obama[['word_count']].stack('word_count', new_column_name = ['word','count']).sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 273

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   40  |
|   in  |   30  |
|  and  |   21  |
|   of  |   18  |
|   to  |   14  |
|  his  |   11  |
| obama |   9   |
|  act  |   8   |
|   he  |   7   |
|   a   |   7   |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

###Contando palavras com CountVectorizer

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
word_count_vect = CountVectorizer(token_pattern=r'(?u)\b\w+\w*\b')
features = word_count_vect.fit_transform(obama['text'])

In [13]:
features

<1x273 sparse matrix of type '<type 'numpy.int64'>'
	with 273 stored elements in Compressed Sparse Row format>

In [14]:
vocab = word_count_vect.get_feature_names()
print vocab

[u'13th', u'1961', u'1992', u'1996', u'1997', u'20', u'2000in', u'2004', u'2007', u'2008', u'2009', u'2010', u'2011', u'2012', u'2012obama', u'2013', u'4', u'44th', u'63', u'8', u'a', u'act', u'address', u'administration', u'affordable', u'afghanistan', u'african', u'after', u'against', u'american', u'americans', u'and', u'arms', u'as', u'ask', u'at', u'attention', u'attorney', u'august', u'barack', u'before', u'began', u'bin', u'bm', u'born', u'briefs', u'brk', u'budget', u'by', u'californias', u'called', u'campaign', u'care', u'chicago', u'civil', u'clinton', u'close', u'columbia', u'combat', u'community', u'constitutional', u'consumer', u'continued', u'control', u'convention', u'court', u'creation', u'cuba', u'current', u'death', u'debate', u'debt', u'defeated', u'defeating', u'defense', u'degree', u'delegates', u'democratic', u'district', u'doddfrank', u'domestic', u'dont', u'down', u'during', u'earning', u'economic', u'election', u'elementary', u'ended', u'ending', u'equality', u'federal', u'filed', u'first', u'for', u'foreign', u'form', u'from', u'full', u'gains', u'general', u'graduate', u'great', u'gun', u'harvard', u'has', u'hawaii', u'he', u'hillary', u'his', u'hold', u'honolulu', u'hook', u'house', u'husen', u'hussein', u'ii', u'illinois', u'in', u'inaugurated', u'included', u'increased', u'initiatives', u'insurance', u'into', u'involvement', u'iraq', u'is', u'islamic', u'january', u'job', u'john', u'july', u'keynote', u'laden', u'laureateduring', u'law', u'legislation', u'lengthy', u'levels', u'lgbt', u'libya', u'limit', u'lost', u'made', u'major', u'march', u'marriage', u'mccain', u'military', u'mitt', u'months', u'named', u'national', u'nations', u'new', u'nine', u'nobel', u'nomination', u'nominee', u'normalize', u'not', u'november', u'obama', u'obamacare', u'of', u'office', u'often', u'on', u'operation', u'operations', u'or', u'ordered', u'organizer', u'osama', u'other', u'over', u'party', u'patient', u'peace', u'policies', u'policy', u'president', u'presidential', u'primaries', u'primary', u'prize', u'process', u'promoted', u'proposition', u'protection', u'raise', u'reauthorization', u'receive', u'received', u'recession', u'recovery', u'reelected', u'referred', u'reform', u'regained', u'reinvestment', u'related', u'relations', u'relief', u'repeal', u'represent', u'representatives', u'representing', u'republican', u'republicans', u'response', u'resulted', u'review', u'rights', u'rodham', u'romney', u'running', u'russia', u'sandy', u'school', u'seats', u'second', u'senate', u'served', u'shooting', u'signed', u'sought', u'spending', u'start', u'state', u'states', u'stimulus', u'street', u'strike', u'sufficient', u'supreme', u'sworn', u'taught', u'tax', u'taxpayer', u'tell', u'term', u'terms', u'that', u'the', u'then', u'three', u'to', u'total', u'treaty', u'troop', u'two', u'unconstitutional', u'unemployment', u'united', u'university', u'unsuccessfully', u'urged', u'us', u'victory', u'wall', u'war', u'was', u'where', u'whether', u'which', u'while', u'with', u'withdrawal', u'won', u'worked', u'years']

In [15]:
count = np.sum(features.toarray(), axis=0)
count

array([ 1,  1,  1,  1,  1,  2,  1,  3,  1,  1,  3,  2,  3,  1,  1,  1,  1,
        1,  1,  1,  7,  8,  1,  1,  1,  2,  1,  4,  1,  3,  1, 21,  1,  6,
        1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  1,
        3,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  2,  2,  1,  2,  1,
        1,  3,  1,  1,  1,  1,  1,  1,  3,  4,  2,  1,  3,  1,  1,  1,  1,
        1,  1,  2,  4,  1,  7,  1, 11,  1,  1,  1,  2,  1,  1,  1,  2, 30,
        1,  1,  1,  1,  1,  1,  3,  4,  2,  1,  3,  1,  1,  1,  1,  1,  1,
        6,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  4,  1,  1,  1,
        2,  1,  1,  1,  1,  1,  2,  1,  1,  2,  9,  1, 18,  2,  1,  2,  1,
        1,  1,  3,  1,  1,  1,  1,  3,  1,  1,  1,  2,  4,  2,  1,  2,  1,
        1,  1,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  2,  1,  2,  1,  3,  1,  1,  1,  1,  1,  1,  1,  1,  3,
        1,  2,  3,  2,  1,  3,  1,  1,  1,  1,  3,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  3,  1,  1, 40,  1,  1, 14,  1,  1,  1,  1,  1,  1,
        3,  2,  1,  1,  6,  1,  1,  1,  5,  1,  1,  1,  1,  3,  1,  1,  1,
        1], dtype=int64)

In [16]:
sf.SFrame({'word':vocab, 'count':count}).sort('count',ascending=False)

Columns:
	count	int
	word	str

Rows: 273

Data:
+-------+-------+
| count |  word |
+-------+-------+
|   40  |  the  |
|   30  |   in  |
|   21  |  and  |
|   18  |   of  |
|   14  |   to  |
|   11  |  his  |
|   9   | obama |
|   8   |  act  |
|   7   |   a   |
|   7   |   he  |
+-------+-------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

O resultado foi muito parecido. Tenho que ver depois como criar um sframe com dicionário, mas mantendo a ordenação indicada de colunas.

##Calculando o TF-IDF

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(token_pattern=ur'(?u)\b\w+\w*\b', stop_words=[], norm=None)

In [18]:
dtm = tfidf.fit_transform(people['text'])

Descobri um erro no scikit-learn. A fórmula usada para TF-IDF está sendo log((1+N)/(1+df))+1. Esse '+1' no final está arrebentando o resultado, deixando termos frequentes com resultados altos. Para resolver isso, entendo que o +1 tem o mesmo peso da contagem de termos.

In [19]:
if format(sklearn.__version__) <= '0.16.1' :
    from sklearn.feature_extraction.text import CountVectorizer
    count = CountVectorizer(token_pattern=ur'(?u)\b\w+\w*\b', stop_words=[])
    dtm = dtm - count.fit_transform(people['text'])

In [20]:
dtm.shape

(59071, 547979)

In [22]:
features = tfidf.get_feature_names()
print features[:20]

[u'0', u'00', u'000', u'0000', u'00000', u'00000van', u'0001', u'00014338', u'0001sec', u'0002', u'00026', u'0003', u'0005', u'000577', u'0005sec', u'0006', u'0007', u'0007105916', u'0007200374', u'0007207328']

###Calculando do Obama

In [23]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+
|           word_count          |
+-------------------------------+
| {'operations': 1L, 'repres... |
+-------------------------------+
[1 rows x 4 columns]

In [24]:
people_indexes = {}
index = 0
for p in people :
    people_indexes[p['name']] = index
    index += 1

In [25]:
obama_index = people_indexes[obama['name'][0]]

In [26]:
word_scores = {}
for word in vocab :
    if word in features :
        word_scores[word] = dtm[obama_index, features.index(word)]

In [27]:
sf.SFrame({'feature':word_scores.keys(), 'tfidf':word_scores.values()}).sort('tfidf', ascending=False)

Columns:
	feature	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|   feature   |     tfidf     |
+-------------+---------------+
|    obama    | 43.2771138343 |
|     act     | 27.6740511879 |
|     iraq    | 17.7417279313 |
|   control   | 14.8843303784 |
|     law     | 14.7218558824 |
|   ordered   | 14.5269800512 |
|   military  | 13.1142031441 |
| involvement | 12.7808367465 |
|   response  | 12.7808367465 |
|  democratic | 12.4092495367 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

O resultado foi praticamente igual.

##Calculando distâncias manualmente

In [28]:
from sklearn.metrics.pairwise import cosine_similarity
clinton = people[people['name'] == 'Bill Clinton']
beckham = people[people['name'] == 'David Beckham']

###Comparando Obama com Bill Clinton

In [29]:
cosine_similarity(dtm[obama_index], dtm[people_indexes[clinton['name'][0]]])

array([[ 0.16717846]])

In [30]:
cosine_similarity(dtm[obama_index], dtm[people_indexes[beckham['name'][0]]])

array([[ 0.02105755]])

Essa fórmula é para calcular a similaridade. Diferente da distância que estava sendo calculada na leitura.

In [31]:
from sklearn.metrics.pairwise import pairwise_distances

In [32]:
pairwise_distances(dtm[obama_index], dtm[people_indexes[clinton['name'][0]]], metric='cosine')

array([[ 0.83282154]])

In [33]:
pairwise_distances(dtm[obama_index], dtm[people_indexes[beckham['name'][0]]], metric='cosine')

array([[ 0.97894245]])

Dessa forma o cálculo é em cima da distância, igual o graphlab.

##Construindo um modelo de busca com nearest neighbor

In [113]:
from sklearn.neighbors import NearestNeighbors

# 10 é o padrão para a nossa busca
knn_model = NearestNeighbors(n_neighbors=10, algorithm='brute', metric='cosine')

In [114]:
knn_model.fit(dtm)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_neighbors=10, p=2, radius=1.0)

A métrica do graphlab é a jaccard, mas não consegui adotar aqui. Talvez tenha diferenças.

###Quem se parece com Obama

In [115]:
distances, indexes = knn_model.kneighbors(dtm[obama_index], return_distance=True)

In [116]:
distances

array([[ -2.22044605e-16,   7.00218808e-01,   7.39882079e-01,
          7.56760137e-01,   7.68340645e-01,   7.83188893e-01,
          7.85581800e-01,   7.89380387e-01,   7.94203304e-01,
          7.96521715e-01]])

In [117]:
indexes

array([[35817, 24478, 38376, 57108, 38714, 46140,  6796, 44681,  2412,
        18827]], dtype=int64)

In [118]:
zip(np.array(people['name'])[indexes][0], distances[0])

[('Barack Obama', -2.2204460492503131e-16),
 ('Joe Biden', 0.70021880814603654),
 ('Samantha Power', 0.73988207917530502),
 ('Hillary Rodham Clinton', 0.75676013717284951),
 ('Eric Stern (politician)', 0.76834064491645526),
 ('Robert Gibbs', 0.78318889324225549),
 ('Eric Holder', 0.78558179962256047),
 ('Jesse Lee (politician)', 0.78938038724942206),
 ('Joe the Plumber', 0.79420330436841446),
 ('Henry Waxman', 0.79652171471109146)]

###Outro exemplo de busca

In [119]:
swift = people_indexes['Taylor Swift']

In [120]:
distances, indexes = knn_model.kneighbors(dtm[swift], return_distance=True)

In [121]:
zip(np.array(people['name'])[indexes][0], distances[0])

[('Taylor Swift', -4.4408920985006262e-16),
 ('Al Swift', 0.69557155409410787),
 ('Bill Swift', 0.71055621155743476),
 ('Ed Sheeran', 0.73419103416238751),
 ('Carrie Underwood', 0.73498039335105592),
 ('Kelly Clarkson', 0.74446181308194848),
 ('Joss Stone', 0.75135082840345324),
 ('Adele', 0.75301338937384632),
 ('Charles Swift', 0.75749046937832865),
 ('Dolly Parton', 0.75775826355232656)]

In [122]:
jolie = people_indexes['Angelina Jolie']

In [123]:
distances, indexes = knn_model.kneighbors(dtm[jolie], return_distance=True)

In [124]:
zip(np.array(people['name'])[indexes][0], distances[0])

[('Angelina Jolie', -6.6613381477509392e-16),
 ('Brad Pitt', 0.72727055579119526),
 ('Barbara Hershey', 0.7584718018152462),
 ('Keith Jolie', 0.76830819748163226),
 ('Julianne Moore', 0.77350703243189289),
 ('Glenn Close', 0.7759737565670155),
 ('Jodie Foster', 0.7763546404548014),
 ('Maggie Smith', 0.778734534206172),
 ('Jessica Chastain', 0.78272706820027049),
 ('Amy Adams', 0.78479786765342263)]

In [125]:
arnold = people_indexes['Arnold Schwarzenegger']

In [126]:
distances, indexes = knn_model.kneighbors(dtm[arnold], return_distance=True)

In [127]:
zip(np.array(people['name'])[indexes][0], distances[0])

[('Arnold Schwarzenegger', 0.0),
 ('Bonnie Garcia', 0.79040782539582932),
 ('Paul Grant (bodybuilder)', 0.80072788303174369),
 ('James Tramel', 0.82555589689478581),
 ('Gray Davis', 0.83666161900306935),
 ('Abel Maldonado', 0.83899912160868562),
 ('Bruce McPherson', 0.84606318818749648),
 ('David Israel', 0.84638740807705271),
 ('Charlene Zettel', 0.84759491450179236),
 ('Peter Pilz', 0.85341425371916302)]

#Exercícios
##Exercício 1

In [128]:
elton_john = people[people['name'] == 'Elton John']
elton_john['word_count'] = count_words(elton_john['text'])
elton_john[['word_count']].stack('word_count', new_column_name = ['word','count']).sort('count',ascending=False).head(3)

Columns:
	word	str
	count	int

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |   27  |
|  in  |   18  |
| and  |   15  |
+------+-------+
[3 rows x 2 columns]

In [130]:
word_count_vect = CountVectorizer(token_pattern=ur'(?u)\b\w+\w*\b', stop_words=[])
word_count_vect.fit(elton_john['text'])
vocab = word_count_vect.get_feature_names()

In [131]:
print vocab

[u'1', u'10', u'100', u'1947', u'1967', u'19702000', u'1976', u'1980s', u'1988', u'1992', u'1994', u'1996', u'1997', u'1998', u'2', u'200', u'2002', u'2004', u'2005', u'2008', u'2012he', u'2013', u'2014', u'21', u'25', u'27', u'30', u'300', u'31', u'33', u'40', u'49', u'58', u'a', u'abbey', u'about', u'academy', u'actor', u'after', u'against', u'aids', u'albums', u'all', u'alltime', u'an', u'and', u'announced', u'annual', u'artist', u'artists', u'as', u'at', u'authors', u'award', u'awards', u'be', u'became', u'become', u'been', u'began', u'bernie', u'bestselling', u'billboard', u'bisexual', u'born', u'brit', u'british', u'brits', u'buckingham', u'career', u'cbe', u'center', u'champion', u'charitable', u'civil', u'collaborated', u'commander', u'composer', u'composers', u'concert', u'consecutive', u'continues', u'contribution', u'copies', u'culture', u'datein', u'david', u'december', u'diamond', u'diana', u'disney', u'dwight', u'elizabeth', u'elton', u'empire', u'england', u'english', u'entered', u'era', u'established', u'events', u'fame', u'fellow', u'fifty', u'fight', u'film', u'first', u'five', u'fivedecade', u'for', u'foundation', u'four', u'from', u'funeral', u'furnish', u'gay', u'globe', u'golden', u'grammy', u'had', u'hall', u'has', u'have', u'having', u'he', u'heavily', u'hercules', u'highestprofile', u'him', u'his', u'hits', u'hollywood', u'honors', u'hosting', u'hot', u'icon', u'ii', u'impact', u'in', u'inception', u'including', u'inducted', u'inductee', u'industry', u'influential', u'into', u'involved', u'is', u'its', u'john', u'jubilee', u'kennedy', u'kenneth', u'knighthood', u'lasting', u'late', u'later', u'least', u'legal', u'legend', u'lgbt', u'list', u'look', u'lyricist', u'making', u'male', u'march', u'marriage', u'million', u'more', u'most', u'movements', u'music', u'musicians', u'named', u'nine', u'no', u'number', u'occasional', u'of', u'on', u'one', u'openly', u'order', u'oscar', u'outside', u'outstanding', u'over', u'overallelton', u'palace', u'parties', u'partner', u'partnership', u'party', u'performed', u'pianist', u'princess', u'producer', u'queens', u'raised', u'ranked', u'received', u'record', u'records', u'reginald', u'rock', u'roll', u'rolling', u'royal', u'samesex', u'services', u'seven', u'since', u'singer', u'single', u'singles', u'sir', u'six', u'social', u'sold', u'solo', u'something', u'song', u'songwriter', u'songwriters', u'stone', u'successful', u'such', u'taupin', u'than', u'the', u'they', u'third', u'time', u'to', u'tonightcandle', u'tony', u'top', u'two', u'us', u'was', u'way', u'wed', u'westminster', u'which', u'who', u'wind', u'winning', u'with', u'worked', u'world', u'worldwide', u'year', u'years', u'you']

In [132]:
word_scores = {}
for word in vocab :
    if word in features :
        word_scores[word] = dtm[people_indexes[elton_john['name'][0]], features.index(word)]

In [133]:
sf.SFrame({'feature':word_scores.keys(), 'tfidf':word_scores.values()}).sort('tfidf', ascending=False).head(3)

Columns:
	feature	str
	tfidf	float

Rows: 3

Data:
+-----------+---------------+
|  feature  |     tfidf     |
+-----------+---------------+
|  furnish  | 18.0812043376 |
|   elton   | 17.4651790318 |
| billboard | 17.2986303093 |
+-----------+---------------+
[3 rows x 2 columns]

##Exercício 2

In [134]:
elton_john = people_indexes['Elton John']
victoria_beckham = people_indexes['Victoria Beckham']
paul_mccartney = people_indexes['Paul McCartney']

In [135]:
pairwise_distances(dtm[elton_john], dtm[victoria_beckham], metric='cosine')

array([[ 0.95627812]])

In [136]:
pairwise_distances(dtm[elton_john], dtm[paul_mccartney], metric='cosine')

array([[ 0.82303776]])

##Exercício 3

In [137]:
# 10 é o padrão para a nossa busca
knn_word_count_model = NearestNeighbors(n_neighbors=10, algorithm='brute', metric='cosine')

In [138]:
word_count_dtm = word_count_vect.fit_transform(people['text'])
knn_word_count_model.fit(word_count_dtm)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_neighbors=10, p=2, radius=1.0)

In [139]:
knn_tfidf_model = NearestNeighbors(n_neighbors=10, algorithm='brute', metric='cosine')

In [140]:
knn_tfidf_model.fit(dtm)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_neighbors=10, p=2, radius=1.0)

In [141]:
distances, indexes = knn_word_count_model.kneighbors(word_count_dtm[elton_john], return_distance=True)
zip(np.array(people['name'])[indexes][0], distances[0])

[('Elton John', 3.8857805861880479e-15),
 ('Cliff Richard', 0.16142415258967147),
 ('Sandro Petrone', 0.16822542751041136),
 ('Rod Stewart', 0.16832716558706295),
 ("Malachi O'Doherty", 0.17731554597888477),
 ('Roger Daltrey', 0.17755418466559625),
 ('Peter Paret', 0.18073483740345253),
 ('Mervyn Burtch', 0.18199014026300275),
 ('Chris Chivers', 0.18307331290028128),
 ('Dejan Bogdanovi%C4%87', 0.18498947345396433)]

In [142]:
distances, indexes = knn_tfidf_model.kneighbors(dtm[elton_john], return_distance=True)
zip(np.array(people['name'])[indexes][0], distances[0])

[('Elton John', 0.0),
 ('Rod Stewart', 0.71478081829713858),
 ('George Michael', 0.74386348790100887),
 ('Sting (musician)', 0.74591703816380051),
 ('Phil Collins', 0.74892363511189264),
 ('Kelly Clarkson', 0.75949313919190409),
 ('Usher (entertainer)', 0.76155030724738049),
 ('Adele', 0.76837553189708629),
 ('Billy Joel', 0.77019953059903412),
 ('Jay Sean', 0.77345010392920555)]

In [143]:
distances, indexes = knn_word_count_model.kneighbors(word_count_dtm[victoria_beckham], return_distance=True)
zip(np.array(people['name'])[indexes][0], distances[0])

[('Victoria Beckham', 8.8817841970012523e-16),
 ('Mary Fitzgerald (artist)', 0.20730703611505041),
 ('Adrienne Corri', 0.21450978278754773),
 ('Beverly Jane Fry', 0.21746646874079267),
 ('Raman Mundair', 0.21769547499150477),
 ('Jacqueline de Jong', 0.22257421573069613),
 ('Terese Capucilli', 0.22436548649175403),
 ('Phamie Gow', 0.22473751935931308),
 ('Raylawni Branch', 0.22504802403400026),
 ('Carrie Reichardt', 0.22507653712165565)]

In [144]:
distances, indexes = knn_tfidf_model.kneighbors(dtm[victoria_beckham], return_distance=True)
zip(np.array(people['name'])[indexes][0], distances[0])

[('Victoria Beckham', -2.2204460492503131e-16),
 ('David Beckham', 0.54650832839192609),
 ('Stephen Dow Beckham', 0.78366699101179527),
 ('Mel B', 0.80826274980545476),
 ('Caroline Rush', 0.81817397589660301),
 ('Louis Molloy', 0.82031643436901247),
 ('Angelique Westerhof', 0.82641442761715445),
 ('Wal%C3%A9 Adeyemi', 0.83129042845866019),
 ('Mona al Mansouri', 0.83139048878752586),
 ('Zurain Imam', 0.83459838035755984)]